.btn {
    background-color: #ff385c;
    color: white;
    font-size: 1rem;
    font-weight: 700;
}
.outer {
    border-radius: 1rem;
    box-shadow: 0 0 20px rgb(140, 140, 140);
    margin-top: 2rem;
}